.about {
  padding: 80px 20px;
  background: linear-gradient(135deg, #140021, #22043a);
  color: #e6d9ff;
  display: flex;
  justify-content: center;
}

.about-container {
  max-width: 900px;
  text-align: center;
}

/* Title */
.about-title {
  font-size: 2.6rem;
  margin-bottom: 25px;
}

.about-title span {
  color: #bb86fc;
}

/* Text */
.about-text {
  font-size: 1.05rem;
  line-height: 1.7;
  color: #d1b3ff;
  margin-bottom: 15px;
}
